*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  height: 100vh;
  background-color: lightgray;
}

::-webkit-scrollbar {
  width: 12px;

}

::-webkit-scrollbar-track {
  background: #f1efef;
}

::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 4px;
  border: 1px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}